/HLC/NetBeansProjects/Ejer2Hoja2PHP/nbproject/private/
/HLC/NetBeansProjects/Ejer2Hoja2PHP/build/
/HLC/NetBeansProjects/Ejer2Hoja2PHPV2/nbproject/private/
/HLC/NetBeansProjects/Ejer6Hoja2PHp/nbproject/private/
/HLC/NetBeansProjects/Ejer6Hoja2PHp/build/
/HLC/NetBeansProjects/FormularioCompleto/nbproject/private/
/HLC/NetBeansProjects/FormularioCompleto/build/
/HLC/NetBeansProjects/ProyectoVidiojuegos/nbproject/private/
/HLC/NetBeansProjects/FormularioProyecto/nbproject/private/
/HLC/NetBeansProjects/DataTable/nbproject/private/
/HLC/NetBeansProjects/DataTable/build/
/HLC/NetBeansProjects/pruebaIBDC/nbproject/private/
/HLC/NetBeansProjects/pruebaIBDC/build/
/HLC/NetBeansProjects/JBDCTabla/nbproject/private/
/HLC/NetBeansProjects/JBDCTabla/build/