/* .btn {
	background-color: #00a0d6;
	color: white;
	 transition: background-color 5s, color 5s;  si pones all se pone todo los estlos
     transition: all 5s;  
	transition: all 5s ease 0s;
}

.btn:hover {
	background-color: red;
	color: black;
} */

/* .btn {
	position: relative;
}

.content {
	position: absolute;
}

.btn:hover .top {
	top: 0px;
}

.top {
	top: 100;
}

.bottom {
	top: 200px;
}

.btn:hover .bottom {
	top: 100px;
} */

.top {
	top: 0px;
}

.btn:hover .top {
	top: -100px;
}

.bottom {
	top: 100px;
}

.btn:hover .bottom {
	top: 0px;
}

.content {
	position: relative;
	transition: 1s;
}

.btn {
	position: absolute;
	top: 100px;
	overflow: hidden;
}

/* estado inicial */
#outerspace {
	position: relative;
	height: 400px;
	width: 800px;
	background: #0c0440 url("../imagenes/outerspace.jpg") repeat scroll left bottom;
	color: #fff;

	transition: background-position 10s linear 0s;
}

#sol {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: yellow;
}

#outerspace #sol {
	transition: transform 10s linear 0s, background-color 5s ease 5s;
}

#outerspace:hover #sol {
	background-color: red;
	transform: translate(760px, 360px) scale(2, 2);
	transition: transform 5s linear 0s, background-color 5s ease 1s;
}

#outerspace:hover {
	background-position: -100% 0%;
	transition: background-position 5s linear 0s;
}
