* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.palta {
	position: relative;
	top: -17px;
	left: 8px;
	color: #a3a5aa;
}

.Customform {
	border: 2px solid #f38a0a;
	padding: 40px 10px 0px 40px;
	width: 70%;
	max-width: 700px;
	border-radius: 20px;
	margin-top: 250px;
}
#focus {
	border: 3px solid #fef6fb;
	box-shadow: 0 0 10px 0 #d09b52;
	position: absolute;
	transition: width 0.2s ease, height 0.2s ease, left 0.2s ease, top 0.2s ease, border-radius 0.2s ease;
	pointer-events: none;
	z-index: 5;
	border-radius: 10px;
	display: none;
}
h1 {
	margin-bottom: 30px;
	font-size: 2em;
	color: #000;
}

input {
	padding: 10px 15px;
	border-radius: 10px;
	transition: 0.3s ease;
	color: #868283;
}

input[type="text"] {
	width: calc(100% - 30px);
	margin-bottom: 30px;
	border: 2px solid #868283;
}

input[type="time"] {
	width: calc(50% - 20px);
	margin-bottom: 30px;
	border: 2px solid #868283;
}

input[type="text"]:placeholder-shown {
	border: 2px solid #eae4da;
}

input[type="text"]::placeholder {
	color: #a3a5aa;
}

input[type="text"][half] {
	width: calc(50% - 30px);
	float: left;
	margin-right: 30px;
}

input:focus {
	outline: 0;
}
.fecha {
	position: relative;
	top: 23px;
	left: -80px;
	width: calc(100% - 354px);
	border: 2px solid #eae4da;
	background: gainsboro;
}

input[type="file"] {
	padding: 10px 10px;
	border-radius: 10px;
	transition: 0.3s ease;
	color: #868283;
	width: calc(100% - 349px);
	margin-bottom: 30px;
	border: 2px solid #eae4da;
	position: relative;
	top: -27px;
	left: 319px;
}

.buttonClass {
	background: #f38a0a;
	color: #fff;
	border: 2px solid #f38a0a;
	outline: 10px solid #fff;
	width: calc(50% - 30px);
	height: 40px;
	margin: 83px 30px -20px 0;
	float: right;
	font-weight: 800;
	font-size: 0.7em;
	letter-spacing: 1.8pt;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
}

.buttonClassRegistrar {
	background: #f38a0a;
	color: #fff;
	border: 2px solid #f38a0a;
	outline: 10px solid #fff;
	width: calc(50% - 30px);
	height: 40px;
	margin: 0px 30px -20px 0;
	float: right;
	font-weight: 800;
	font-size: 0.7em;
	letter-spacing: 1.8pt;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
}

.buttonClassBaja {
	background: #e9331b;
	color: #fff;
	border: 2px solid #e9331b;
	outline: 10px solid #fff;
	width: calc(50% - 30px);
	height: 40px;
	margin: 83px 30px -20px 0;
	float: right;
	font-weight: 800;
	font-size: 0.7em;
	letter-spacing: 1.8pt;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
}

.buttonClassOtraBja {
	background: #e9331b;
	color: #fff;
	border: 2px solid #e9331b;
	outline: 10px solid #fff;
	width: calc(50% - 30px);
	height: 40px;
	margin: -3px 30px -20px 0;
	float: right;
	font-weight: 800;
	font-size: 0.7em;
	letter-spacing: 1.8pt;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
}

.buttonClass:hover {
	outline-width: 0;
}

select {
	width: 228px;
	position: relative;
	top: 5px;
	left: -33px;
	border-radius: 4px;
	color: #868283;
	padding: 7px 14px;
}

.backGris {
	background: gainsboro;
}

.ui-autocomplete li {
	padding: 0em 0.1em;
	cursor: pointer;
}

.ui-menu-item .ui-menu-item-wrapper:hover {
	border: none !important;
	background-color: #1e8fff;
	color: white;
}
