.cuadrao{
  
border: 5px solid;
margin: 20px;
width: 170px;         
  height: 100px;  
  background-color: rgb(219, 219, 219);
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  display:flex;
  justify-content: center;
  align-items: center;

}
.borde{

  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
}

p{
    text-align: center;
}

