/* estado inicial */
#outerspace {
	position: relative;
	height: 400px;
	width: 800px;
	background: #0c0440 url("../imagenes/outerspace.jpg") repeat scroll left bottom;
	color: #fff;
	transition: background-position 4s;
}

#sol {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: yellow;
}

#outerspace #sol {
	transition: transform 5s, background-color 5s;
}

#outerspace:hover #sol {
	background-color: red;
	transform: translate(770px, 370px) scale(2);
}

#outerspace:hover {
	background-position: -100% 0%;
}
